<ngx-loading [show]="loading"></ngx-loading>
<span class="msg-loading font regular size16" *ngIf="loading">{{'msgLoading.loading' | translate}}</span>
<main>
  <header>
    <div class="container">
      <div class="navbar-header">
        <!--
        <div class="panel-table">
          <div class="panel-row">
            <div class="panel-col systeminfo">
              <div class="panel-table">
                <div class="panel-row">
                    <div class="panel-col owner">
                        <div class='label label-th' *ngIf="appService.lang === 'th'"></div>
                        <div class='label label-en' *ngIf="appService.lang === 'en'"></div>
                    </div>                    
                    <div class="panel-col fullname"></div>
                </div>
              </div>
            </div>
            <div class="panel-col userinfo">
              <div class="panel-table">
                <div class="panel-row">
                  <div class="panel-col flags-icon">
                    <a href="javascript:void(0)" *ngIf="appService.lang === 'en'" (click)="appService.setDefaultLang('th')"><span class="font regular size18 flag-icon flag-icon-th"></span></a>
                    <a href="javascript:void(0)" *ngIf="appService.lang === 'th'" (click)="appService.setDefaultLang('en')"><span class="font regular size18 flag-icon flag-icon-gb"></span></a>
                  </div>
                  <div class="panel-col home-icon">
                    <a routerLink="" routerLinkActive="active" ><span class="font regular white size24"><i class='fa fa-home'></i></span></a>
                  </div>
                  <div class="panel-col text-center user-icon">
                    <a href="#" [ngStyle]="{'background-color': userBackgrondColor}"><span class="font regular white size18">{{'yu'[0].toUpperCase() + 'yu'[1]}}</span></a>
                  </div>
                  <div class="panel-col text-center signin-icon">
                    <a href="#"><span class="font regular white size16">Sign in</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        -->
      </div>
    </div>
  </header>
  <section>
  </section>
  <footer>
    <div class="container text-center">
      <span class="font regular gray size14">
        <span class="size16" *ngIf="appService.lang === 'th'"><i class='fa fa-copyright' aria-hidden='true'></i></span> สงวนลิขสิทธิ์ พ.ศ. 2562 {{(appService.getCurrentYear() > 2562 ? (" - " + appService.getCurrentYear()) : "")}} มหาวิทยาลัยมหิดล, พัฒนาโดย กองเทคโนโลยีสารสนเทศ
      </span>
      <!--
      "footer": "<span class='font regular size16'><i class='fa fa-copyright' aria-hidden='true'></i></span> สงวนลิขสิทธิ์ พ.ศ. 2562 มหาวิทยาลัยมหิดล, พัฒนาโดย กองเทคโนโลยีสารสนเทศ",
      "footer": "Copyright <span class='font regular size16'><i class='fa fa-copyright'></i></span> 2019 Mahidol University. All rights reserved.",
      -->
    </div>
  </footer>  
</main>