/*
=============================================
Author      : <ยุทธภูมิ ตวันนา>
Create date : <๑๒/๑๑/๒๕๖๒>
Modify date : <๑๒/๑๑/๒๕๖๒>
Description : <style sheet สำหรับจัดรูปแบบการแสดงผลของ app>
=============================================
*/

@import 'assets/style/font.scss';
@import 'assets/style/util.scss';

body {
    overflow-y: auto;
}
.font {
    font-family: $font-family;
}